@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@300;400&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/homebar.css");
@import url("components/topnav.css");
@import url("components/contact.css");

body {
	font-family: Rubik, sans-serif
	font-size: 18px;
	margin: 0px;
	color: rgb(50, 50, 50);
}
h1 {
 font-family: 'Rubik Mono One', sans-serif;
 font-style: normal; 
 font-weight: normal; 
 padding: 30px;
 color: rgb(50, 50, 50);
 font-size: 48px ;
} 

h2 {
font-family: 'Rubik';
font-style: normal;
font-weight: bold;
padding: 20px;
color: rgb(50, 50, 50);
font-size: 36px ;
}

h3 {
 font-family: 'Rubik', sans-serif;
 font-style: normal; 
 font-weight: normal;
 padding: 20px;
 color: rgb(50, 50, 50);
 font-size: 24px ; 
}
a {
	text-decoration: none;
}
p {
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 18px;
	margin: 0px;
	color: rgb(50, 50, 50);
	font-variant-position: center;
}
.image-circle{
	border-radius: 8%
}
nav{
	width: 100%;
	background-color: #FFFFF0;
}
nav > ul{
	margin:0px;
	padding:0px;
}
nav > ul::after{
	content: "";
	display: block;
	clear: both;
}
nav > ul > li{
	float: left;
}
nav > ul > li > a{
	padding: 20px 30px;
	color: #41D1CC;
}
nav li{
	list-style-type: none;
}
.submenu{
	display: none;
}
nav a{
	display: inline-block;
	text-decoration: none;
}
nav li:hover  .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0%;
	padding: 0px;
	z-index: 1000;
}
.submenu li{
	border-bottom: 1px solid #CCC

}
.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;

}
body{
	margin: 0;
	padding: 0;
}
.top{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0;
	bottom: 86.5%;
	background: #FFFFF0;
}
.search{
	position: absolute;
	left: 5%;
	right: 0%;
	width: 220px;
	top: 25%;
	bottom: 20%;
	border: 0px;
	background: #F8F8F8;
	border-radius: 15px;
}
.a{
	
	position: absolute;
	left: 6.67%;
	right: 0%;
	top: 35%;
	bottom: 20%;
	
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	
	color: #000000;

}
.b{
	
	position: absolute;
	left: 22.67%;
	right: 0%;
	top:  35%;
	bottom: 32.71%;
	
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	
	color: #41D1CC;

}
.c{
	position: absolute;
	left: 60.67%;
	right: 0%;
	top:  35%;
	bottom: 32.71%;
	
}
.d{
	position: absolute;
	left: 74.67%;
	right: 0%;
	top:  35%;
	bottom: 32.71%;
}
.e{
	position: absolute;
	left: 84.67%;
	right: 0%;
	top:  35%;
	bottom: 32.71%;
	
}
.f{
	position: absolute;
	left: 43.6%;
	right: 48.12%;
	top: -3%;
	width: 180px;
	bottom: 0%;
	background-size: cover;
	height: 90px;
}
.content{
				position: absolute;
				width: 100%;
				height: 930px;
				left: 0px;
				top: 97px;
				
				background: rgba(255, 255, 255,255);
			}
.bg{
				background-image: url(images/bg.jpg) ;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				width: 100%;
				height: 100%;
			}
.title{
				position: absolute;
				width: 1051px;
				height: 85px;
				left: 254px;
				top: 107px;
				font-size: 80px;
				font-weight:1000;
				color: aliceblue;	
			}
.test{
				position: absolute;
				width: 825px;
				height: 57px;
				left: 507px;
				top: 400px;
				
				font-family: Rubik;
				font-style: normal;
				font-weight: normal;
				font-size: 28px;
				line-height: 57px;
				/* identical to box height */
				
				
				color: #FFFFF0;
			}
.img_1{
				position: absolute;
				left: 207px;
				top: 600px;
				
				width: 248px;
				height: 248px;
				border-radius: 32px;
			}
.img_2{
				position: absolute;
				left: 507px;
				top: 600px;
				
				width: 248px;
				height: 248px;
				border-radius: 32px;
			}
.img_3{
				position: absolute;
				left: 807px;
				top: 600px;
				
				width: 248px;
				height: 248px;
				border-radius: 32px;
			}
.img_4{
				position: absolute;
				left: 1107px;
				top: 600px;
				
				width: 248px;
				height: 248px;
				border-radius: 32px;
			}
.btn{
				position: absolute;
				left: 517px;
				opacity: 0.9;
				top: 300px;
				text-align: center;
				font-weight:1000;
				font-size: 30px;
				width: 480px;
				background-color: #d5dce2;
				color: white;
				border-radius: 12px;
			
			}
			.Results{
				position: absolute;
				left: 685px;
				top: 10px;
				
				font-family: Rubik;
				font-style: normal;
				font-weight: 1000;
				font-size: 34px;
				color: #41D1CC;
			}
			.btn{
				position: absolute;
				font-family: Rubik;
				width: 300px;
				height: 50px;
				left: 600px;
				top: 59px;
				text-align: center;
				line-height: 50px;
				font-weight: 1000;
				font-size: 24px;
				color: white;
				background: #41D1CC;
				border-radius: 15px;
			}
			.img_1{
				position: absolute;
				left: 150px;
				top: 130px;
				width: 1250px;
				height: auto;
			}
			.img_2{
				position: absolute;
				left: 150px;
				top: 360px;
				width: 1250px;
				height: auto;
			}
			.img_3{
				position: absolute;
				left: 150px;
				top: 590px;
				width: 1250px;
				height: auto;
			}
						.content{
				position: absolute;
				width: 100%;
				height: 930px;
				left: 0px;
				top: 97px;
				
				background: rgba(0, 0, 0, 0.31);
			}
			.bg{
				background-image: url(img/123.jpg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				width: 100%;
				height: 100%;
			}
			.title{
				position: absolute;
				left: 38%;
				top: 27px;
				color: white;
				font-size: 50px;
			}
			.text{
				position: absolute;
				left: 40%;
				top: 127px;
				color: white;
				font-weight: 1000;
				font-size: 23px;
				
			}
			.text1{
				position: absolute;
				right: 10%;
				top: 27px;
				color: white;
				font-size: 23px;
				
			}
			.text2{
				position: absolute;
				right: 10%;
				top: 53px;
				color: white;
				font-size: 23px;
				
			}
			.stay{
				position: absolute;
				right: 10%;
				top: 123px;
			}
			.mou1{
				
				position: absolute;
				width: 480px;
				font-size: 25px;
				left: 10%;
				top: 223px;
				line-height: 35px;				
				font-weight: bold;
				padding-left: 30px;
				color: white;
				background: #C0BFB5;
				border-radius: 15px;
			}
			.mou2{
				
				position: absolute;
				width: 480px;
				font-size: 25px;
				right:10%;
				top: 223px;
				line-height: 35px;				
				font-weight: bold;
				padding-left: 30px;
				color: white;
				background: #C0BFB5;
				border-radius: 15px;
			}
			.text_1{
				
				position: absolute;
				width: 330px;
				left:10%;
				top: 273px;
				color: white;
			}
			.text_2{
				
				position: absolute;
				width: 330px;
				right:20%;
				font-weight: bold;
				line-height: 50px;
				top: 273px;
				color: white;
			}
			.btn{
				
				position: absolute;
				right:15%;
				top: 683px;
				width: 300px;
				font-size: 20px;
				line-height: 50px;
				font-weight: 500;
				text-align: center;
				background: #41D1CC;
				border-radius: 10px;
				color: white;
			}
						.content{
				position: absolute;
				width: 100%;
				height: 930px;
				left: 0px;
				top: 97px;
				
				background: rgba(0, 0, 0, 0.31);
			}
			.bg{
				background-image: url(img/123.jpg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				width: 100%;
				height: 100%;
			}
			.title{
				position: absolute;
				left: 38%;
				top: 27px;
				color: white;
				font-size: 50px;
			}
			.text{
				position: absolute;
				left: 40%;
				top: 127px;
				color: white;
				font-weight: 1000;
				font-size: 23px;
				
			}
			.text1{
				position: absolute;
				right: 10%;
				top: 27px;
				color: white;
				font-size: 23px;
				
			}
			.text2{
				position: absolute;
				right: 10%;
				top: 53px;
				color: white;
				font-size: 23px;
				
			}
			.stay{
				position: absolute;
				right: 10%;
				top: 123px;
			}
			.mou1{
				
				position: absolute;
				width: 480px;
				font-size: 25px;
				left: 10%;
				top: 223px;
				line-height: 35px;				
				font-weight: bold;
				padding-left: 30px;
				color: white;
				background: #C0BFB5;
				border-radius: 15px;
			}
			.mou2{
				
				position: absolute;
				width: 480px;
				font-size: 25px;
				right:10%;
				top: 223px;
				line-height: 35px;				
				font-weight: bold;
				padding-left: 30px;
				color: white;
				background: #C0BFB5;
				border-radius: 15px;
			}
			.text_1{
				
				position: absolute;
				width: 330px;
				left:10%;
				top: 273px;
				color: white;
			}
			.text_2{
				
				position: absolute;
				width: 330px;
				right:20%;
				font-weight: bold;
				line-height: 50px;
				top: 273px;
				color: white;
			}
			.btn{
				
				position: absolute;
				right:15%;
				top: 683px;
				width: 300px;
				font-size: 20px;
				line-height: 50px;
				font-weight: 500;
				text-align: center;
				background: #41D1CC;
				border-radius: 10px;
				color: white;
			}


/* LOGIN CSS */
body {
  font-family: "Rubik Mono One", sans-serif;
  height: 100vh;
}

a {
  color: #41D1CC;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #41D1CC;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #FFFFF0;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #FFFFF0;
  border-top: 1px solid #41D1CC;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #41D1CC;
  border-bottom: 2px solid #41D1CC;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #41D1CC;
  border: none;
  color: #FFFFF0;
  padding: 15px 168px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #3EF0E9;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #C4C4C4;
  border: none;
  color: rgb(50, 50, 50);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #FF0000;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #41D1CC;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #41D1CC;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}