.cards{
	display: flex;
    flex-wrap: wrap;
}

.card{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
    border-radius: 10px;
    margin: 10px;
    flex-basis: 270px;
    flex-grow: 1;
}

.card img{
    width: 260px;
    border-radius: 10px;
}

.card h3 {
	flex-grow: 1;
    padding-left: 10px;
    font-size: 20px;
    font-style: italic;
}